<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
</head>
<body>
<div class="container my-2" align="center">

<h3>Users List</h3>
<a th:href="@{/addnew}" class="btn btn-primary btn-sm mb-3" >Add User</a>
	<table style="width:80%" border="1"
		class = "table table-striped table-responsive-md">
	<thead>
<tr>
	<th>Salution</th>
	<th>First Name</th>
	<th>Middle Name</th>
	<th>Last Name</th>
	<th>Date Of Birth</th>
	<th>Blood Group</th>
	<th>Email</th>
	<th>Phone No</th>
	<th>Extra</th>
</tr>
</thead>
<tbody>

<tr th:each="users, namePrefix:${allList.users}">
		<td th:text="${users.prefix}"></td>
		<td th:text="${users.firstName}"></td>
		<td th:text="${users.middleName}"></td>
		<td th:text="${users.lastName}"></td>
		<td th:text="${users.dateOfBirth}"></td>
		<td th:text="${users.bloodGroup}"></td>
		<td th:text="${users.email}"></td>
		<td th:text="${users.phoneNo1}"></td>
		<td th:text="${users.extra}"></td>
		<td>
				<a th:href="@{/api/v1/deleteUser/{id}(id=${users.id})}"
				class="btn btn-danger">Delete</a>
	</td>
</tr>
</tbody>
</table>
</div>
</body>
</html>
